*{
	border:0;
	box-sizing: border-box;
	margin:0;
	padding: 0;
    color: white;
    max-width: 1440;
    font-family: Permanent Marker;
}

.dobyIndex{
    background-image: url(../assets/img/fondo.jpg);
}
a{
    text-decoration: none;
    color: white;
}
.logoNav{
    font-size: 2em;
    margin: 0;
    text-decoration: none;
    width: 500px;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 4em;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0px;
}
ul a{
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.5em;
}


.parallax{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../assets/img/imagen\ de\ muestrario.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texParallax{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10em;
}
.texParallax h1{
    margin-bottom: 1em;
    text-shadow: 2px 3px #000000;
}
.texParallax h2{
    font-size: 6em;
    text-shadow: 2px 3px #000000;
}
.parallax .texParallax a{
    font-size: 1.5em;
    padding: 0.2em 1.2em 0.2em 1.2em;
    color: black;
    background-color: white;
}
.parallax .texParallax .botonComAhora:hover a{
    color: white;
    background-color: black;
}



.coleccion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30em;
}

.colec1{
    background-color: #ffffff;
    background-position: center;
    object-fit: cover;
}
.colec2{
    background-color: #000000;
    background-position: center;
    object-fit: cover;
}
.coleccion a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.coleccion h3{

    font-size: 3em;
}

.coleccion .colec1 h3{
    color: #000000;
}

.ofertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35em;
    object-fit: cover;
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
    background-image: url(../assets/img/gif-index.gif);
    margin: 6em 0em 6em 0em;
}
.boton{
    background-color: black;
    padding: 1em 3em 1em 3em;
}
.ofertas h3{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}
.ofertas a{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    padding: 0em 0.5em 0em 0.5em;
    background-color: white;
    margin-top: 0.8em;
}

.ofertas .boton div:hover a{
    color: white;
    background-color: black;
}


.muestraIndex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    object-fit: cover;
    background-color: hwb(0deg 93% 7%);
    height: 55em;
}
.muestraIndex .muestra{
    width: auto;
    height: 20em;
    margin: 1em 3em 1em 3em;
    object-fit: cover;
    flex-wrap: nowrap;
}
.muestraIndex img{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.muestraIndex .imgMuestra:hover img{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    background-attachment: fixed;
    background-image: url(https://img.freepik.com/fotos-premium/textura-piedra-negra-fondo-pizarra-oscura-vista-superior_88281-1206.jpg?w=2000);
    background-repeat: no-repeat;
}


.nishiFooter h2{
    margin-top: 1em;
    margin-bottom: 1.5em;
    font-size: 6em;
}
.containerFooter{
    display: flex;
    
}
footer .containerFooter h3{
    font-size: 3em;
    margin-bottom: 1em;
}

.containerFooter .direccion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 6em 0 6em;
}
.containerFooter .direccion p{
    font-size: 1.3em;
}

.containerFooter .contactos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0 7em 0 7em;
}
.contactos .cont{
    display: flex;
}
.contactos .cont .inputs{
    margin-right: 15px;
}
.contactos .cont .inputs input{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.contactos .cont .mb-3 textarea{
    background-color: rgba(255, 255, 255, 0);
    color: white;
}


.containerFooter .redes{
    display: flex;
    align-items: center;
    padding: 0 6em 0 6em;
}
.containerFooter .redes .svgRedes{
    display: flex;
    flex-direction: row;
}
.containerFooter .redes .svgRedes svg{
    margin: 50px 20px 0px 20px;
}
footer h4{
    margin-top: 3em;
}



/*Tienda-----------------------------------------------------------------------------*/
.bodyTienda{    
    background-color: white;
}
.coleccionRegular{
    padding: 5em;
    background-image: url(https://img.freepik.com/fotos-premium/textura-piedra-negra-fondo-pizarra-oscura-vista-superior_88281-1206.jpg?w=2000);
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
}
.coleccionRegular h1{
    font-size: 4em;
    text-align: center;
}

.grillaTienda{
    display: grid;
    grid-template-columns: repeat(3, 20em);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    row-gap: 9em;
    column-gap: 5em;
    margin-top: 9em;
    margin-bottom: 9em;
}
.grillaTienda div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.grillaTienda div p{
    color: rgb(46, 46, 46);
    margin: 0;
}
.grillaTienda div .tituloGrilla{
    font-size: 1.5em;
    margin-top: 1em;
}
.grillaTienda div .agregarCarrito{
    padding: 0.5em 5.1em 0.5em 5.2em;
    margin-top: 0.5em;
    background-color: white;
    margin-left: 2.8em;
}

.grillaTienda div:hover .agregarCarrito{
    background-color: rgb(245, 112, 24);
}

.grillaTienda div .agregarCarrito p{
    color: white;
}

.grillaTienda div .precio{
    font-size: 1.3em;
}
.grillaTienda div img{
    width: 20em;
    height: 20em;
}
.grillaTienda div .imgVistaH{
    display: none;
}
.grillaTienda div:hover .imgVistaH{
    display: block;
}
.grillaTienda div:hover .imgVistaP{
    display: none;
}







/*@medias----------------------------------------------------------------------------------------------------*/
@media (min-width: 360px) and (max-width: 767px){

    nav{
        width: 100%;
        font-size: 10px;
    }


    
    nav ul{
        padding-left: 0;
        font-size: 2em;
    }
    
    .logoNav{
        display: none;
    }

/*index---------------*/
    *{
        font-size: 80%;
    }

    .texParallax{
        font-size: 1em;
    }

    .botonComAhora{
        font-size: 1.5em;
    }

    .muestraIndex{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .imgMuestra .muestra{
        width: 35em;
    }

    .imgMuestra a{
        width: auto;
    }




    .bodyTienda{
        width: 850px;
    }


    .grillaTienda{
        grid-template-columns: 20em 20em;
        grid-template-rows: repeat(8, 30em);
    }

    .footerTienda{
        background-size: 100%;
        height: 10em;
    }

    .nishiFooter{
        font-size: 1em;
    }

    footer .containerFooter{
        flex-direction: column;
        width: 100%;
    }
    
    footer .containerFooter .direccion{
        align-items: center;
        font-size: 2em;
        padding-bottom: 2.5em;
    }

    footer .containerFooter .redes{
        justify-content: space-around;
    }
    
}

.ofertas{
    background-size: 45em;
}

.boton h3{
    font-size: 2em;
}

.boton a{
    font-size: 2em;
}

